.list {
  padding: 24px 24px 0;
  width: 30%;
}

.contentLayout {
  display: flex;
}

.editorWrapper {
  flex: 1;
  width: 70%;
  max-height: calc(100vh - 64px);
  border-left: 1px solid rgb(234, 234, 234);
}

.topBar {
  border-bottom: 1px solid rgb(234, 234, 234);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topBarTitle {
  margin: 12px 16px ;
}

.actionbBtn {
  margin: 14px;
}
