.contentLayout {
  padding: 40px 40px 0;
}

.rightSidebarWrapper {
  display: flex;
  flex-direction: column;
  padding: 48px;
}

.btnCreate {
  width: 100%;
  margin-bottom: 24px;
}

.details {
  padding: 32px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.detailsHeader {
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
}

.actionBtn + .actionBtn {
  margin-left: 28px;
}

.createForm {
  padding: 0 40px 24px;
}

.formInput {
  max-width: 312px;
  width: 100%;
}

.footerBtns {
  border-top: 1px solid #f7ecec;
  background: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 48px;
}

.footerBtn {
  margin-right: 24px;
  min-width: 100px;
}


.labelRow {
  display: flex;
  margin: 8px 0;
}

.labelValue {
  margin-left: 16px;
}

.formTab {
  height: calc(100vh - 222px);
  overflow: auto;
}